<section class="bg-secondary-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-primary-700">You're in good company!</h2>
      <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">We partner with businesses of all sizes</p>
    </div>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="images/mgf_logo.jpg" alt="Mill Gap Farms" width="158" height="48" />
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="images/mt_logo.png" alt="Musictoday" width="158" height="48" />
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="images/winnow_logo.jpeg" alt="Winnow" width="158" height="48" />
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="images/mm_logo.svg" alt="Morgan & Morgan" width="158" height="48" />
      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="images/ateam_logo.svg" alt="a.team" width="158" height="48" />
    </div>
  </div>
</section>