---
layout: default
title: 'Home'
---

<section class="h-1/2 bg-hero-background bg-cover bg-center bg-primary-900 bg-blend-multiply bg-opacity-60">
  <div class="flex items-center h-full py-4 o-container">
    <div>
      <h1 class="text-5xl text-white font-bold mb-4"><%= site.metadata.tagline %></h1>
      <p class="text-white lg:w-1/2 mb-4"><%= site.metadata.description %></p>
      <a href="contact"><button type="button" class="btn btn-primary">Contact</button></a>
    </div>
  </div>
</section>

<section class="bg-white py-12 flex flex-col">
  <div class="o-container">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-primary-600">Our services</h2>
      <p class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We'll bring your ideas to life</p>
    </div>
    <div class="mx-auto mt-4 max-w-2xl lg:mt-8 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-3">
        <% for service in site.data.services %>
        <div class="flex flex-col p-6 rounded-lg shadow-md hover:bg-primary-100 border border-primary-200 border-opacity-50">
          <dt class="flex items-center gap-x-3 text-xl font-semibold leading-7 text-gray-900"><%= service.name %></dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto"><%= service.description %></p>
          </dd>
        </div>
        <% end %>
      </dl>
    </div>
  </div>
</section>
