/* If you need to add @import statements, do so up here */

@import 'jit-refresh.css'; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/InterVariable.ttf') format('truetype-variations');
    font-weight: 100 900; /* Adjust as needed */
    font-stretch: 75% 125%; /* Adjust as needed */
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded shadow font-bold;
  }

  .btn-primary {
    @apply bg-indigo-700 text-secondary-100 hover:bg-indigo-800;
  }

  .o-container {
    @apply px-6 md:px-6 lg:px-12 xl:px-96;
  }
}
