<nav class="flex flex-wrap justify-between items-center py-4 px-2 md:px-6 lg:px-12 xl:px-80">
  <!-- left -->
  <div class="w-full relative flex justify-center lg:w-auto lg:static lg:block lg:justify-start">
    <a href="<%= relative_url '/' %>"><img alt="olumentary Logo" src="<%= relative_url 'images/olumentary-fullcolor.png' %>" width="200" /></a>
  </div>
  <div class="w-full flex justify-center lg:w-auto lg:static lg:block lg:justify-end">Made with ❤️ in Staunton, VA</div>
</nav>